@model MyEvernote.Entities.Category

@{
    ViewBag.Title = "Kateori Ekle";
}

<div class="container">

    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Kategori</h4>
                    <hr />
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                           
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span> Ekle</button>
                            @Html.ActionLink("Geri dön", "Index","Category",null,new { @class="btn btn-default"})
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

</div>


